@import "tailwindcss";


:root {
  --color1: #D3FAD6;
  --color2: #D1EFB5;
  --color3: #EDEBA0;
  --color4: #C3C48D;
  --color5: #928C6F;

}



@theme {
  --color-color1: var(--color1);
  --color-color2: var(--color2);
  --color-color3: var(--color3);
  --color-color4: var(--color4);
  --color-color5: var(--color5);

}
